<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MuscleMatrix 메인페이지</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../staticfiles/css/main/header.css" />
    <link rel="stylesheet" href="../../staticfiles/css/main/main.css" />
  </head>
  <body>
    <div class="main-allwrap">
      <header class="header-allwrap">
        <div class="header-wrap-div">
          <nav class="header-wrap-nav">
            <div class="header-container">
              <div class="logo-wrap">
                <a class="real-logo-link">
                  <img
                    src="../../staticfiles/images/MuscleMatrixLogo.png"
                    class="logo-img"
                    width="250"
                    height="45"
                  />
                </a>
              </div>
              <div class="letter-wrap">
                <ul class="letter-wrap-ul">
                  <li class="letter-realwrap-li">
                    <a class="letter-wrap-link">MUSCLEMATRIX</a>
                  </li>
                  <li class="letter-realwrap-li">
                    <a class="letter-wrap-link">HEALTH</a>
                  </li>
                  <li class="letter-realwrap-li">
                    <a class="letter-wrap-link">교육과정</a>
                  </li>
                  <li class="letter-realwrap-li">
                    <a class="letter-wrap-link">PT 무료체험</a>
                  </li>
                  <li class="letter-realwrap-li">
                    <a class="letter-wrap-link">이벤트 프로그램</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="main-wrap-section">
        <div
          class="main-wrap-sectionDiv"
          style="max-height: none; overflow: visible; height: 695px"
        >
          <div
            class="main-wrap-sectionDivdiv"
            style="
              height: 100%;
              max-height: none;
              perspective: 200px;
              backface-visibility: hidden;
              transform-style: flat;
            "
          >
            <ul
              class="main-wrap-ul"
              style="
                display: block;
                overflow: hidden;
                width: 100%;
                height: 100%;
                max-height: none;
              "
            >
              <li
                class="main-wrap-li"
                style="
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  z-index: 18;
                  visibility: hidden;
                  opacity: 1;
                  position: absolute;
                  transform: matrix(1, 0, 0, 1, 0, 0);
                  transform-origin: center center 0px;
                "
              >
                <div class="main-li-div" style="width: 100%; height: 100%">
                  <div
                    class="main-real-mainbanner"
                    style="
                      background-color: rgba(0, 0, 0, 0);
                      background-repeat: no-repeat;
                      background-image: url(https://www.bodychannel.co.kr/dist/img/main/slide_bg_3.jpg);
                      background-position: 50% 0%;
                      width: 100%;
                      height: 100%;
                      opacity: 1;
                      visibility: visible;
                      background-size: 100% 100%;
                    "
                  ></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="video-wrap">
          <div class="video-content-div">
            <div class="video-letter-wrap">
              <div>
                <span class="video-title">MuscleMatrix는</span>
              </div>
              <div><span class="video-content">당신과 함께</span>합니다.</div>
            </div>
          </div>
        </div>
      </section>
      <section class="aboutus-wrap-section">
        <header class="aboutus-header">
          <h1 class="aboutus-title">24HOUR/7DAY 전지점 통합 회원권</h1>
          <p class="aboutus-content">
            MuscleMatrix is 24/7 open fitness club where you can use
          </p>
          <p class="aboutus-content">
            integrated membership of all branches anytime and anywere.
          </p>
        </header>
        <div class="aboutus-content-wrap">
          <div class="row">
            <div class="aboutus-content-div">
              <div class="aboutus-content-divdiv">
                <div class="aboutus-content-divdivdiv">
                  <figure class="aboutus-content-figure">
                    <div class="aboutus-figure-div">
                      <div class="aboutus-figure-icondiv">
                        <img
                          src="https://www.bodychannel.co.kr/dist/img/main/body_icon_1@2x.png"
                          width="47"
                          height="77"
                        />
                      </div>
                      <div class="aboutus-textbox">
                        <p class="small-title">BENEFIT 01</p>
                        <p class="big-title">MuscleMatrix</p>
                      </div>
                    </div>
                  </figure>
                  <div class="back-div">
                    <div class="back-divdiv">
                      <div class="sys-box">
                        <div class="sys-tit">MuscleMatrix CONCEPT</div>
                        <div class="sys-icon">
                          <img
                            src="https://www.bodychannel.co.kr/dist/img/main/sys_main_icon_5@2x.png"
                            width="69"
                            height="68"
                          />
                        </div>
                        <div class="sys-desc">
                          24시 연중무휴 전지점 통합회원권
                        </div>
                        <div class="sys-btn">
                          <a href="#">
                            <img
                              src="https://www.bodychannel.co.kr/dist/img/main/sys_main_btn@2x.png"
                              width="154"
                              height="44"
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="aboutus-content-div">
              <div class="aboutus-content-divdiv">
                <div class="aboutus-content-divdivdiv">
                  <figure class="aboutus-content-figure">
                    <div class="aboutus-figure-div">
                      <div class="aboutus-figure-icondiv">
                        <img
                          src="https://www.bodychannel.co.kr/dist/img/main/body_icon_1@2x.png"
                          width="47"
                          height="77"
                        />
                      </div>
                      <div class="aboutus-textbox">
                        <p class="small-title">BENEFIT 01</p>
                        <p class="big-title">MuscleMatrix</p>
                      </div>
                    </div>
                  </figure>
                  <div class="back-div">
                    <div class="back-divdiv">
                      <div class="sys-box">
                        <div class="sys-tit">MuscleMatrix CONCEPT</div>
                        <div class="sys-icon">
                          <img
                            src="https://www.bodychannel.co.kr/dist/img/main/sys_main_icon_5@2x.png"
                            width="69"
                            height="68"
                          />
                        </div>
                        <div class="sys-desc">
                          24시 연중무휴 전지점 통합회원권
                        </div>
                        <div class="sys-btn">
                          <a href="#">
                            <img
                              src="https://www.bodychannel.co.kr/dist/img/main/sys_main_btn@2x.png"
                              width="154"
                              height="44"
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </section>
    </div>
  </body>
  <script src="../../staticfiles/js/main/main.js"></script>
</html>
