<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../../staticfiles/css/program/program.css" />
    <title>그룹PT</title>
</head>

<body>
    <div class="wrapper">
        <div class="page-header background7" data-stellar-background-ratio="0.4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 page-header-wrapper">
                        <div class="top-sub-title">Program</div>
                        <div class="top-sub-desc">프로그램</div>
                    </div>
                </div>
            </div>
        </div>




        <div class="md-margin2x"></div>





        <section class="content this" role="main">
            <div class="container">
                <div class="row this">
                    <div class="col-lg-12 text-center">
                        <h4 style="color: #FF4C4C;">Weekly Exercise Schedule</h4>
                        <div style="width: 35px;border-bottom: 3px solid #FF4C4C;margin-left: 49%;"></div>
                    </div>
                </div>


                <div class="row app-pro-box">
                    <span class="media-wrap view-one">
                        <span class="media-info-box">
                            <span class="content">
                                <span class="sub-content">
                                    <span class="sub-header fcff4c"><img
                                            src="https://www.bodychannel.co.kr/dist/img/program/app_grap_img1.png"
                                            class="mWt100p" style="max-width:385px;"></span>
                                    <span class="sub-txt" style="text-align: left;">
                                        <p class="mb15 fs25 fw7">5개의 심장박동 구역</p>
                                        <p class="mb5 fs14 fw6">웨어러블을 손목에 착용한 후 운동 진행 시 심박수 수치와
                                            칼로리 소모량이 실시간으로 화면에 연동되어 5가지 색상으로 표시됩니다.
                                            500칼로리 소모 목표를 달성해보세요.</p>
                                        <p class="mb0 fs14 fw6">
                                            GroupP.T 주간 운동 일정표는 전지점 통합적으로 제공되는 운동 프로그램으로
                                            app을 통해 운동예약시 지점에서 동일한 프로그램의 그룹수업을 받을 수 있습니다.
                                            주간 운동목표와 운동영상을 보며 운동을 배워보시고,
                                            지점을 나올 수 없을때 집에서 홈트레이닝 용도로 사용해 보세요.
                                        </p>


                                    </span>
                                </span>
                            </span>
                        </span>


                        <span class="media-video-box view-two">
                            <span class="first-tile">
                                <div class="play">
                                    <div class="play-control">
                                    </div>
                                    <img src="../../staticfiles/images/program-img.png" style="width: 100%;">
                                </div>
                            </span>

                            <span class="second-tile img-bg-7" style="border-right: 1px solid #fff;"></span>
                            <span class="second-tile img-bg-8"></span>
                        </span>

                    </span>
                </div>
                <div class="row program_type mt5p">
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center bgcff4">
                        <span style="color: #fff;">Group P.T</span>
                    </div>

                </div>
                <div class="row pro-app-wrap">
                    <!-- 날짜 탭-->
                    <div class="date-tab-wrap">
                        <ul>
                            <!-- 선택된것은 active가 붙음 -->
                            <li class="date-tab active" >
                                <div class="day" data-week="MON">MON</div>

                            </li>
                            <li class="date-tab " >
                                <div class="day" data-week="TUE">TUE</div>

                            </li>
                            <li class="date-tab " >
                                <div class="day" data-week="WED">WED</div>

                            </li>
                            <li class="date-tab " >
                                <div class="day" data-week="THU">THU</div>

                            </li>
                            <li class="date-tab" >
                                <div class="day" data-week="FRI">FRI</div>

                            </li>
                        </ul>
                    </div>

                    <!-- 운동프로그램 -->


                    <!-- 월요일 -->
                    <!-- 선택된것은 active 클래스가 붙음 -->
                    <!-- 아닌것은 unactive되서 안보임 -->
                    <div class="exe-info-wrap active" data-week="MON">
                        <div class="info-wrap video">
                            <div class="video-top">
                                <div class="logo">
                                    <!-- 사이트 로고 이미지 -->
                                    <img src="../../staticfiles/images/MuscleMatrixLogo.png" style="width: 100%;max-width: 182px;">
                                </div>
                            </div>

                            <div class="video-content tac" style="height: 360px;">
                                <!-- 프로그램 이미지 -->
                                <img class="image"
                                    src="../../staticfiles/images/blank-image.png">
                            </div>
                        </div>
                        <div class="info-wrap desc">
                            <div class="info-desc-box">
                                <div>운동효과: 하체/힙/코어</div>
                                <div>운동부위: 전신</div>
                                <div>목표 칼로리: 500 kcal</div>
                                <div>운동명: 날이 좋네요^^</div>
                            </div>
                            <div class="info-video-list ">
                                <div class="top-tit">운동프로그램</div>
                                <div class="bot-list">
                                    <div class="list-box">
                                        <!-- 선택한것에 active클래스가 붙음 -->
                                        <div class="select active" data-num="1">
                                            01 토 터치
                                            <div class="select-desc">
                                                스텝박스를 이용하는 전신 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="2">
                                            02 하이 점프
                                            <div class="select-desc">
                                                스텝박스를 이용한 하체 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="3">
                                            03 원 암 스윙
                                            <div class="select-desc">
                                                한 손으로 하는 케틀벨 스윙 동작
                                            </div>
                                        </div>

                                        <div class="select" data-num="4">
                                            04 원 암 스윙2
                                            <div class="select-desc">
                                                한 손으로 하는 케틀벨 스윙 동작
                                            </div>
                                        </div>

                                        <div class="select" data-num="5">
                                            05 트라이셉스 익스텐션
                                            <div class="select-desc">
                                                케틀벨을 이용한 상완 삼두근 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="6">
                                            06 크로스 크런치
                                            <div class="select-desc">
                                                누워서하는 복근 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="7">
                                            07 푸쉬 업
                                            <div class="select-desc">
                                                엎드린 상태에서하는 가슴운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="8">
                                            08 점핑 잭
                                            <div class="select-desc">
                                                팔벌려 높이뛰기
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 화요일 -->
                    <div class="exe-info-wrap unactive" data-week="TUE">
                        <div class="info-wrap video">
                            <div class="video-top">
                                <div class="logo">
                                    <!-- 사이트 로고 이미지 -->
                                    <img src="../../staticfiles/images/MuscleMatrixLogo.png" style="width: 100%;max-width: 182px;">
                                </div>
                            </div>

                            <div class="video-content tac" style="height: 360px;">
                                <!-- 프로그램 이미지 -->
                                <img class="image"
                                    src="../../staticfiles/images/blank-image.png">
                            </div>
                        </div>
                        <div class="info-wrap desc">
                            <div class="info-desc-box">
                                <div>운동효과: 전신</div>
                                <div>운동부위: 전신</div>
                                <div>목표 칼로리: 500 kcal</div>
                                <div>운동명: 고강도의 유산소 운동 GO!!</div>
                            </div>
                            <div class="info-video-list ">
                                <div class="top-tit">운동프로그램</div>
                                <div class="bot-list">
                                    <div class="list-box">
                                        <!-- 선택한것에 active클래스가 붙음 -->
                                        <div class="select" data-num="1">
                                            01 토 터치
                                            <div class="select-desc">
                                                스텝박스를 이용하는 전신 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="2">
                                            02 사이드 점프
                                            <div class="select-desc">
                                                스텝박스를 이용하는 전신 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="3">
                                            03 버피 점프
                                            <div class="select-desc">
                                                스텝박스를 이용한 전신 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="4">
                                            04 마운틴 클라이밍
                                            <div class="select-desc">
                                                스텝박스를 이용하는 전신 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="5">
                                            05 스쿼트 점프
                                            <div class="select-desc">
                                                스텝박스를 이용하는 하체운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="6">
                                            06 크로스 크런치
                                            <div class="select-desc">
                                                누워서하는 복근 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="7">
                                            07 슈퍼맨
                                            <div class="select-desc">
                                                엎드린 상태에서 양팔 다리를 동시에 올리는 전신 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="8">
                                            08 오버헤드 스윙
                                            <div class="select-desc">
                                                머리위까지 올리는 케틀벨 스윙
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 수요일 -->
                    <div class="exe-info-wrap unactive" data-week="WED">
                        <div class="info-wrap video">
                            <div class="video-top">
                                <div class="logo">
                                    <!-- 사이트 로고 이미지 -->
                                    <img src="../../staticfiles/images/MuscleMatrixLogo.png" style="width: 100%;max-width: 182px;">
                                </div>
                            </div>

                            <div class="video-content tac" style="height: 360px;">
                                <!-- 프로그램 이미지 -->
                                <img class="image"
                                    src="../../staticfiles/images/blank-image.png">
                            </div>
                        </div>
                        <div class="info-wrap desc">
                            <div class="info-desc-box">
                                <div>운동효과: 전신</div>
                                <div>운동부위: 전신</div>
                                <div>목표 칼로리: 500 kcal</div>
                                <div>운동명: 근성장^^</div>
                            </div>
                            <div class="info-video-list ">
                                <div class="top-tit">운동프로그램</div>
                                <div class="bot-list">
                                    <div class="list-box">
                                        <!-- 선택한것에 active클래스가 붙음 -->
                                        <div class="select" data-num="1">
                                            01 셔플
                                            <div class="select-desc">
                                                다리를 앞뒤로 교차시키면서하는 제자리 뛰기
                                            </div>
                                        </div>

                                        <div class="select" data-num="2">
                                            02 스쿼트 프레스
                                            <div class="select-desc">
                                                스쿼트와 프레스를 동시에 하는 전신 운동   
                                            </div>
                                        </div>

                                        <div class="select" data-num="3">
                                            03 런지&amp;트위스트 
                                            <div class="select-desc">
                                                케틀벨을 이용한 전신 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="4">
                                            04 트라이셉스 익스텐션
                                            <div class="select-desc">
                                                케틀벨을 이용한 상완 삼두근 운동 
                                            </div>
                                        </div>

                                        <div class="select" data-num="5">
                                            05 로우
                                            <div class="select-desc">
                                                덤벨을 이용한 등 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="6">
                                            06 헤머 컬
                                            <div class="select-desc">
                                                양팔 동시에 진행하는 상완 이두근 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="7">
                                            07 얼티네이트 숄더 프레스
                                            <div class="select-desc">
                                                덤벨을 이용한 삼각근 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="8">
                                            08 크런치
                                            <div class="select-desc">
                                                덤벨을 들고하는 복근운동
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- 목요일 -->
                    <div class="exe-info-wrap unactive" data-week="THU">
                        <div class="info-wrap video">
                            <div class="video-top">
                                <div class="logo">
                                    <!-- 사이트 로고 이미지 -->
                                    <img src="../../staticfiles/images/MuscleMatrixLogo.png" style="width: 100%;max-width: 182px;">
                                </div>
                            </div>

                            <div class="video-content tac" style="height: 360px;">
                                <!-- 프로그램 이미지 -->
                                <img class="image"
                                    src="../../staticfiles/images/blank-image.png">
                            </div>
                        </div>
                        <div class="info-wrap desc">
                            <div class="info-desc-box">
                                <div>운동효과: 지방 폭발</div>
                                <div>운동부위: 전신</div>
                                <div>목표 칼로리: 500 kcal</div>
                                <div>운동명: 오늘은 어떤 루틴으로??</div>
                            </div>
                            <div class="info-video-list ">
                                <div class="top-tit">운동프로그램</div>
                                <div class="bot-list">
                                    <div class="list-box">
                                        <!-- 선택한것에 active클래스가 붙음 -->
                                        <div class="select" data-num="1">
                                            01 스쿼트 프레스
                                            <div class="select-desc">
                                                스쿼트와 프레스를 동시에 하는 전신 운동 
                                            </div>
                                        </div>

                                        <div class="select" data-num="2">
                                            02 스텝 점프 푸쉬 업 
                                            <div class="select-desc">
                                                점프 후 푸쉬 업 까지 이어지는 전신 운동        
                                            </div>
                                        </div>

                                        <div class="select" data-num="3">
                                            03 스쿼트 점프
                                            <div class="select-desc">
                                                스텝박스를 이용하는 하체운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="4">
                                            04 플랭크
                                            <div class="select-desc">
                                                팔꿈치와 발끝을 바닥에댄후 버티는 코어운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="5">
                                            05 암 컬 
                                            <div class="select-desc">
                                                양팔동시에 하는 상완이두근 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="6">
                                            06 투 암 킥 백
                                            <div class="select-desc">
                                                양팔 동시에 하는 상완 삼두근 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="7">
                                            07 숄더 프레스
                                            <div class="select-desc">
                                                덤벨을 이용한 삼각근 운동
                                            </div>
                                        </div>

                                        <div class="select" data-num="8">
                                            08 시쏘 킥
                                            <div class="select-desc">
                                                다리를 교차시키면서 하는 코어운동
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- 금요일 -->
                    <div class="exe-info-wrap unactive" data-week="FRI">
                        <div class="info-wrap video">
                            <div class="video-top">
                                <div class="logo">
                                    <!-- 사이트 로고 이미지 -->
                                    <img src="../../staticfiles/images/MuscleMatrixLogo.png" style="width: 100%;max-width: 182px;">
                                </div>
                            </div>

                            <div class="video-content tac" style="height: 360px;">
                                <!-- 프로그램 이미지 -->
                                <img class="image"
                                    src="../../staticfiles/images/blank-image.png">

                            </div>
                        </div>
                        <div class="info-wrap desc">
                            <div class="info-desc-box">
                                <!-- 해당요일의 운동목표 등 -->
                                <div>운동효과: 전신트레이닝</div>
                                <div>운동부위: 전신</div>
                                <div>목표 칼로리: 500 kcal</div>
                                <div>운동명: 불금은 헬스클럽</div>
                            </div>
                            <div class="info-video-list ">
                                <div class="top-tit">운동프로그램</div>
                                <div class="bot-list">
                                    <!-- 운동 영상 리스트 -->
                                    <div class="list-box">
                                        <!-- 선택한것이 active클래스가 붙음 -->
                                        <div class="select" data-num="1">
                                            01 데드리프트
                                            <div class="select-desc">
                                                케틀벨을 이용한 데드리프트 </div>
                                        </div>

                                        <div class="select" data-num="2">
                                            02 로우
                                            <div class="select-desc">
                                                자극부위:광배근/대원근/능형근/중,하부승모근/척추기립근
                                                운동자세:허리가 굽지않도록 상체를 숙여준후 바이퍼를 양손으로 잡아준다.광배근을 이용해 바이퍼를 아랫배쪽으로 당겨준다.
                                                주의사항:허리에 과도한 부담이 올경우 진행하지 않는다. </div>
                                        </div>

                                        <div class="select" data-num="3">
                                            03 아이스 스케이터
                                            <div class="select-desc">
                                                스케이터 자세를 하면서 하는 전신운동 </div>
                                        </div>

                                        <div class="select" data-num="4">
                                            04 암 레그 터치
                                            <div class="select-desc">
                                                다리를 올려서 발끝을 손으로 터치하는 운동 </div>
                                        </div>

                                        <div class="select" data-num="5">
                                            05 굿 모닝
                                            <div class="select-desc">
                                                기립근 부터 햄스트링까지 자극시키는 운동 </div>
                                        </div>

                                        <div class="select" data-num="6">
                                            06 암 워킹
                                            <div class="select-desc">
                                                상체를 이용한 전신운동 </div>
                                        </div>

                                        <div class="select" data-num="7">
                                            07 니 업 리버스 런지
                                            <div class="select-desc">
                                                런지 동작후 무릎을 올려주는 하체운동 </div>
                                        </div>

                                        <div class="select" data-num="8">
                                            08 크로스 크런치
                                            <div class="select-desc">
                                                누워서하는 복근 운동 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                </div>
            </div>
        </section>

    </div>


</body>
<script src="../../staticfiles/js/program/program.js"></script>
</html>